@model VegDex.Web.MVC.ViewModels.RestaurantViewModel
@{
  ViewData["Title"] = "Restaurants";
}

<div class="text-center">
  <h1 class="display-4">Restaurants</h1>
</div>
@if (!Model.Cities.Any())
{
  <p>There are no restaurants in the database!</p>
}
else
{
  <ul>
    @foreach (var city in Model.Cities)
    {
      <h2>@city.Name</h2>
      @if (city.Restaurants.Any())
      {
        @foreach (var restaurant in city.Restaurants)
        {
          @restaurant.Name
        }
      }
    }
  </ul>
}

<div>
  <p>{{ Recent Posts }}</p>
</div>