@{
  ViewData["Title"] = "Restaurants";
}
@model VegDex.Web.MVC.ViewModels.ShoppingViewModel

<div class="text-center">
  <h1 class="display-4">Good Vegan Companies</h1>
</div>
<div>
  
</div>

<div>
  <p>{{ Recent Posts }}</p>
</div>