@{
  ViewData["Title"] = "Shopping";
}
@model ShoppingViewModel

@{
  var veganCompanies = Model.VeganCompanies;
  var farmersMarkets = Model.FarmersMarkets;
}

<div class="text-center">
  <h1 class="display-4">Good Vegan Companies</h1>
</div>
<div>
  @if (!veganCompanies.Any())
  {
    <p>There are no vegan companies in the database!</p>
  }
  else
  {
    <ul>
      @foreach (var company in veganCompanies)
      {
        <li>
          @Html.DisplayFor(modelItem => company.Name) - 
          <a asp-action="EditVeganCompany"
             asp-route-id="@company.Id">Edit</a> -
          <a asp-action="DeleteVeganCompany"
             asp-route-id="@company.Id">Delete</a>
        </li>
      }
    </ul>
  }
</div>

<div class="text-center">
  <h1 class="display-4">Farmers Markets</h1>
</div>

<div>
  @if (!farmersMarkets.Any())
  {
    <p>There are no farmers markets in the database!</p>
  }
  else
  {
    <ul>
      @foreach (var market in farmersMarkets)
      {
        <li>@Html.DisplayFor(modelItem => market.Name)</li>
      }
    </ul>
  }
</div>