@model VegDex.Web.MVC.ViewModels.Meta.AboutPageViewModel
@{
  ViewData["Title"] = "About";
}

<div class="text-center">
  <h1 class="display-4">About VeganMSP.com</h1>
</div>
<div>
  <a asp-action="EditAboutPage">Edit</a>
</div>
<div>
  @Html.Raw(Model.Content)
</div>