@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VegDex.Web.MVC.ViewModels.Meta.AboutPageViewModel

@{
  ViewBag.Title = $"Edit About Page";
}

<h2>Edit About Page</h2>

<h4>Link</h4>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}