@model IEnumerable<CityViewModel>
@{
  ViewData["Title"] = "Cities";
}

<div class="text-center">
  <h1 class="display-4">Cities</h1>
</div>

<p>
  <a asp-action="Create">Create New</a>
</p>

@if (!Model.Any())
{
  <p>There are no cities in the database!</p>
}
else
{
  <ul>
  @foreach (var city in Model)
  {
    <li>@city.Name -
      <a asp-action="Edit"
         asp-route-id="@city.Id">Edit</a> -
      <a asp-action="Delete"
         asp-route-id="@city.Id">Delete</a>
    </li>
  }
  </ul>
}