@{
  ViewData["Title"] = "Groups & Links";
}
@model IEnumerable<VegDex.Web.MVC.ViewModels.LinkViewModel>;

<div class="text-center">
  <h1 class="display-4">Groups & Links</h1>
</div>
<div>
  @if (!Model.Any())
  {
    <p>There are no links in the database!</p>
  }
  else
  {
    <ul>
      @foreach (var link in Model)
      {
        <li>
          <a href="@link.Website" target="_blank">@link.Name</a>
          @if (!string.IsNullOrWhiteSpace(link.Description))
          {
            <text> - @link.Description</text>
          }
        </li>
      }
    </ul>
  }
</div>