@using Markdig
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model VegDex.Web.MVC.ViewModels.Meta.HomePageViewModel
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to VeganMSP.com!</h1>
</div>
<div>
  <a asp-action="EditHomePage">Edit</a>
</div>
<div>
  @Html.Raw(Markdown.ToHtml(Model.Content))
</div>

<div>
  <p>{{ Recent Posts }}</p>
</div>