@{
  ViewData["Title"] = "About";
}

<div class="text-center">
  <h1 class="display-4">About VeganMSP.com</h1>
</div>
<div>
  <p>
    VeganMSP.com is a new project from <a href="https://jrgnsn.net" target="_blank">Matthew Jorgensen</a>. Inspired
    by <a href="https://veganmilwaukee.com/" target="_blank">VeganMKE.com</a>, this site aims to be a complete-as-possible
    guide to being vegan in and around the Minneapolis/St. Paul area. But
    we're always welcome to suggestions! Find something wrong? Feel free to
    <a href="https://github.com/VeganMSP/VeganMSP.com/issues">open a ticket</a> on our tracker.
  </p>
</div>