@{
  ViewData["Title"] = "Blog";
}
@model BlogViewModel;

<div class="text-center">
  <h1 class="display-4">Blog</h1>
</div>
<div>
  @if (!Model.BlogPosts.Any())
  {
    <p>There are no blog posts in the database!</p>
  }
  else
  {
    <ul>
      @foreach (var post in Model.BlogPosts)
      {
        <li>
          <li>@post.Title</li>
          <ul>
            <li>Category: @post.Category.Name</li>
            <li>Status: @post.Status</li>
            <li>Content: @post.Content</li>
          </ul>
        </li>
      }
    </ul>
  }
</div>